<div class="row mb-1 custom-border me-0 ms-0">
    <div class="col-md-1 border-right">
        <div class="p-2 text-center">
        <img src="assets\product-icon-png.png" width="90px" height="90px" alt="">
        </div>
    </div>
    <!-- Details Article -->
    <div class="col-md-5 border-right">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Prenom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
                <div class="col-md-11">003 453 45 34 223 4554</div>
            </div>
        </div>
    </div>
    <!-- Details Categories -->
    <div class="col-md-3 border-right">
        <div class="col-md-10">
            <div class="col">
                <div class="row">
                    <div class="col-md-1"><i class="fas fa-home blue-color"></i></div>
                    <div class="col-md-11">Addess1 Address2</div>
                </div>
                <div class="row">
                    <div class="col-md-1"><i class="fas fa-map-marker-alt blue-color"></i></div>
                    <div class="col-md-11">12343 Ville</div>
                </div>
                <div class="row">
                    <div class="col-md-1"><i class="fas fa-globe-africa blue-color"></i></div>
                    <div class="col-md-11">Pays</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Boutons d'action -->
    <div class="col-md-3 text-center p-3">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link" style="color: green;">
                    <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link" style="color: red;">
                    <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="far fa-list-alt"></i>&nbsp;Details
                </button>
            </div>
        </div>
    </div>
</div>

