<div class="row m-3 justify-content-center">
    <div class=" card col-md-5 text-center me-4">
        <div class="col">
            <div class="mb-3 mt-3">
                <img src="assets\user.png" class="rounded-circle" width="150px" height="150px" alt="">
            </div>
            <div class="mb-3">
                <h2>Nom Prenom</h2>
                <small class="form-text text-muted">Address, Ville, 123435</small>
            </div>
            <div class="col mb-3 ">
                <button type="button" class="btn btn-primary me-3" (click)="ModifierMotDePase()"><i class="fas fa-pencil-alt"></i>&nbsp;Modifier le profil</button>
                <button type="button" class="btn btn-warning"><i class="fas fa-lock"></i>&nbsp;Changer Mot de passe</button>
            </div>
        </div>
    </div>
    <div class="card col-md-6">
        <table class="table">
            <tbody>
              <tr>
                <th scope="row">Nom Complet</th>
                <td>nom Prenom</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>admin@email.com</td>
              </tr>
              <tr>
                <th scope="row">Telephone</th>
                <td colspan="2">22790899887</td>
              </tr>
              <tr>
              <tr>
                <th scope="row">Adrese</th>
                <td colspan="2">Adress, Ville, 1234, Pays</td>
              </tr>
              <tr>
                <th scope="row">Entreprise</th>
                <td colspan="2">Nom Entreprise</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>