<div class="col p-3">
    <div class="col-md-12 mb-3">
        <img src="assets\product-icon-png.png" class="rounded-circle" width="200px" height="200px" alt="">
    </div>
    <hr>
    <!-- Foms -->
    <div class="clo-md-12">
        <div class="col-md-12 mb-3">.
            <h2><i class="fas fa-info-circle blue-color"></i>&nbsp;
            Information de l'article
            </h2>
        </div>
        <div class="col-md-12">
            <div class="p-3">
                <form action="">
                    <div class="row mb-3">
                        <!-- Left -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Code article" aria-label="Code article">
                        </div>
                        <!-- Right -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Designation" aria-label="Designation">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Left -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Prix unitaire HT" aria-label="Prix unitaire HT">
                        </div>
                        <!-- Right -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Taux TVA" aria-label="Taux TVA">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Left -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Prix unitaire TTC" aria-label="Prix unitaire TTC">
                        </div>
                        <!-- Right -->
                        <div class="col">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Selectioner une categorie</option>
                                <option value="1">CAT-123</option>
                                <option value="1">CAT-123</option>
                                <option value="1">CAT-123</option>
                              </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Buttons -->
    <div class="col-md-12 text-end p-3">
        <button type="button" class="btn btn-danger me-4"><i class="fas fa-cancel"></i>&nbsp;Annuler</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Enregistrer</button>
    </div>
</div>