<div class="col p-3">
    <!-- Foms -->
    <div class="clo-md-12">
        <div class="col-md-12 mb-3">.
            <h2>
            Nouvelle Category
            </h2>
        </div>
        <div class="col-md-12 mt-3">
            <div class="p-3">
                <form action="">
                    <div class="row mb-3">
                        <!-- Left -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Code categorie" aria-label="Code categorie">
                        </div>
                        <!-- Right -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Description" aria-label="Description">
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <!-- Buttons -->
    <div class="col-md-12 text-end p-3">
        <button type="button" class="btn btn-danger me-4"><i class="fas fa-cancel"></i>&nbsp;Annuler</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Enregistrer</button>
    </div>
</div>