<div class="col p-3">
    <div class="col-md-12 mb-3">
        <img src="assets\user.png" class="rounded-circle" width="200px" height="200px" alt="">
    </div>
    <hr>
    <!-- Foms -->
    <div class="clo-md-12">
        <div class="col-md-12 mb-3">.
            <h2 class="p-3"><i class="fas fa-info-circle blue-color"></i>&nbsp;
                Informatiom du Client/Fournisseur
            </h2>
        </div>
        <div class="col-md-12">
            <div class="p-3">
                <form action="">
                    <div class="row mb-3">
                        <!-- Left --> 
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Nom" aria-label="Nom">
                        </div>
                        <!-- Right -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Addess1" aria-label="Addess1">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Left -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Prenom" aria-label="Prenom">
                        </div>
                        <!-- Right -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Address2" aria-label="Address2">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Left -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail">
                        </div>
                        <!-- Right -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Ville" aria-label="Ville">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Left -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Telephone" aria-label="Telephone">
                        </div>
                        <!-- Right -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Code Postal" aria-label="Code Postal">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Left -->
                        <div class="col">
                            &nbsp;
                        </div>
                        <!-- Right -->
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Pays" aria-label="Pays">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Buttons -->
    <div class="col-md-12 text-end p-3">
        <button type="button" class="btn btn-danger me-4"><i class="fas fa-cancel"></i>&nbsp;Annuler</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Enregistrer</button>
    </div>
</div>