<div class="row mb-1 custom-border me-0 ms-0">
    <div class="col-md-1">
        <div class="border-right text-center">
        <img src="assets\product-icon-png.png" width="90px" height="90px" alt="">
        </div>
    </div>
    <!-- Details Article -->
    <div class="col-md-5 border-right">
        <div class="col ">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Code Article</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Designation</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-dollar blue-color"></i></div>
                <div class="col-md-11">Prix HT</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-dollar blue-color"></i></div>
                <div class="col-md-11">Prix TTC</div>
            </div>
        </div>
    </div>
    <!-- Details Categories -->
    <div class="col-md-3 border-right">
        <div class="col-md-2">
            <i class="fas fa-flag-checkered blue-color"></i>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">Code categorie</div>
                <div class="col-md-12">Description</div>
            </div>
        </div>
    </div>
    <!-- Boutons d'action -->
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="far fa-list-alt"></i>&nbsp;Details
                </button>
            </div>
        </div>
    </div>
</div>
