<div class="row mb-1 custom-border me-0 ms-0">
    <div class="col-md-1 border-right">
        <div class=" mt-2 text-center">
            <img src="assets\product-icon-png.png" width="90px" height="90px" alt="">
        </div>
    </div>
    <!-- Details Article -->
    <div class="col-md-5 border-right">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Code Article</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Designation</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-dollar blue-color"></i></div>
                <div class="col-md-11">Prix HT</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-dollar blue-color"></i></div>
                <div class="col-md-11">Prix TTC</div>
            </div>
        </div>
    </div>
    <!-- Details Categories -->
    <div class="col-md-3 border-right">
        <div class="col-md-10 text-center">
            <div class="row">
                <div class="col-md-12">
                    <h3>Stock actuele</h3>
                </div>
                <div class="col-md-12">
                    <h3>134</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Boutons d'action -->
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#mouvementStockModal">
                    <i class="fab fa-stack-overflow"></i>&nbsp;Correction de Stock
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="mouvementStockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Correction de Stock</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-2 text-center p-4" >
                                        <i class="fab fa-stack-overflow"></i>
                                    </div>
                                    <div class="col-md-10 mb-3">
                                        <form action="">
                                            <div class="form-group mb-2">
                                                <input type="text" class="form-control" placeholder="Quantite">
                                            </div>
                                            <div class="form-group mb-2">
                                                <select name="" id="" class="form-control">
                                                    <option value="">Correction positive</option>
                                                    <option value="">Correction negative</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger " data-bs-dismiss="modal"><i class="fas fa-cancel"></i>&nbsp;Annuler</button>
                                <button type="button" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Enregistrer</button>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>
