<div class="row mb-1 custom-border me-0 ms-0">
    <div class="col-md-1 border-right">
        <div class=" text-center">
        <img src="assets\product-icon-png.png" width="90px" height="90px" alt="">
        </div>
    </div>
    <!-- Details Article -->
    <div class="col-md-5 border-right">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Code Article</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Designation</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-dollar blue-color"></i></div>
                <div class="col-md-11">Prix HT</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-dollar blue-color"></i></div>
                <div class="col-md-11">Prix TTC</div>
            </div>
        </div>
    </div>
    <!-- Details Categories -->
    <div class="col-md-3 border-right">
        <div class="col-md-2">
            <i class="fab fa-dropbox blue-color"></i>
        </div>
        <div class="col-md-10">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3>Stock actuele</h3>
                </div>
                <div class="col-md-12">
                    <h3>134</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Boutons d'action -->
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#mouvementStockModal">
                    <i class="fab fa-stack-overflow"></i>&nbsp;Correction de Stock
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="mouvementStockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>
