/* You can add global styles to this file, and also import other style files */
body{
    background-color: #eff2f5 !important;
}

.background-grey{
    background-color: #eff2f5 !important;
}
.border-none{
    border: none !important;
}

.min-height-80{
    min-height: 80px;
}
.min-height-650{
    min-height: 650px;
}

.border-right{
    border-right: 2px #9ca1a6 solid;
}

.custom-border{
    border: #9ca1a6 solid;
    border-radius: 5px;
}

.blue-color{
  color: #037bfd;  
}